@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

html {
    min-height: 100%;
    background-image: url("images/bubble1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }

.board {
    background-color: lightcyan;
    position: absolute;
    height: 500px;
    width: 670px;
    left: 50%;
    margin-left:-335px;
    margin-top:200px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.text-message {
    line-height: 500px;
    text-align: center;
    font-size: 128px;
    font-family: 'Rubik Moonrocks', cursive;
    color: crimson;
    animation: fadeIn 4s;
    text-shadow: 5px 5px 5px steelblue;
}

.player {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
    border-radius: 5px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    margin: 10px;
    border-radius: 10px;
}

.ball {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 40px;
}

.title {
    text-align: center;
    font-size: 64px;
    font-family: 'Rubik Moonrocks', cursive;
    color: cornsilk;
    text-shadow: 5px 5px 5px steelblue;
}

.timer,
.score {
    font-family: 'Rubik Moonrocks', cursive;
    color: cornsilk;
    font-size: 26px;
    text-shadow: 5px 5px 5px steelblue;
}

.button {
    display: block;
    float: right;
    background: steelblue;
    border-radius: 20px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    margin-left: 5px;
}

.pause-button, .reset-button {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    line-height: 24px;
    padding: 8px 18px;
}

.sound-button {
    height: 40px;
    width: 40px;
}

.center {
    position: relative;
    top: 5px;
    left: 5px;
}
